<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
    <div id="offCanvasLeft" class="off-canvas position-left" data-off-canvas="">
      <!-- close button -->
      <button class="close-button" aria-label="close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- Menu -->
      <ul class="vertical menu">
        <li><a href="#1">Menu item01</a></li>
        <li><a href="#2">Menu item02</a></li>
        <li><a href="#3">Menu item03</a></li>
        <li><a href="#4">Menu item04</a></li>
      </ul>
    </div>
    <!-- main-content -->
    <div class="off-canvas-content" data-off-canvas-content="">
      <!-- Mobile menu navigation -->
      <div class="title-bar hide-for-medium">
        <div class="title-bar-left">
          <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
          <span class="title-bar-title">IRMCC</span>
        </div>
      </div>
      <!-- Top Bar navigation -->
      <nav class="top-bar" role="navigation" data-topbar="">
        <ul class="title-area menu">
          <li class="top-bar-title">
            <a class="logo" href="#">IRMCC</a>
          </li>
        </ul>
        <ul class="menu title-bar-right">
          <li><a href="#">News</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
      <div id="site">
        <header class="marketing-hero">
          <nav class="main-nav" role="navigation">
            <ul class="menu">
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Founders</a></li>
              <li><a href="#">Members</a></li>
              <li><a href="#">Products</a></li>
            </ul></nav>
        
        </header>
      </div>
    </div>
  </div>

  <!-- Canvas wrapper no more content bellow this point -->
</div>
